colours==0.3
cycler==0.10.0
Django==1.11
functools32==3.2.3.post2
gunicorn==19.7.1
homebrew==0.0.19
LiveWires==2.1
matplotlib==2.0.0
mercurial==4.1.1
MySQL-python==1.2.5
numpy==1.12.0
oauthlib==2.0.1
pandas==0.19.2
pandas-datareader==0.3.0.post0
prettytable==0.7.2
pygame==1.9.3
pymongo==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
requests-file==1.4.1
requests-ftp==0.3.1
requests-oauthlib==0.8.0
six==1.10.0
subprocess32==3.2.7
tweepy==3.5.0
virtualenv==15.1.0
wget==3.2
